<div>

<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <ol>
                {{#each burger}}
                {{#unless this.devoured}}
                    <div>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                    </form>
                    </div>
                {{/unless}}
                {{/each}}
            </ol>
       
<form class="create-update-form" action="/burgers" method="POST"  align="center">

    <section class="form-group">
        <textarea type="text"  name="burger_name"></textarea>
        <input type="hidden" name="devoured" value="0">
    </section>

    <button type="submit">Submit</button>
</form>
<p align="center">Enter a burger you want to eat. Click the "Submit" button</p>